<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guc.myadptertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestArrayAdaper"/>
        <activity android:name=".activity.TestSimpleAdapter"/>
        <activity android:name=".activity.TestPageAdapter"/>
        <activity android:name=".activity.TestCardAdapter"/>
        <activity android:name=".activity.TestSwipeCardview"/>
        <activity android:name=".activity.TestCalendar"/>
        <activity android:name=".activity.TestCalendarMeizu"/>
        <activity android:name=".activity.TestRecycleView"/>
    </application>

</manifest>